<div id="leftColumn" class="left">
<%= render :partial => "/beats/new" %>
<div id="beats">
  <%= render :partial => "/beats/list", :locals => {:beats => @beats, :hash => {:url_function => 'home_users_url'}} %>

</div>

</div>
<div id="rightColumn" class="right">
<%= render :partial => '/users/right_column', :locals => {:user => current_user}%>
</div>
