<div id="leftColumn" class="left">
<div class="profileHeading"><%=h @user.login%></div>
<div id="beats">
  <%= render :partial => "/beats/list", :locals => {:beats => @beats, :hash => {:hide_owner => true, :url_function => 'profile_user_url',
                                                                                                     :url_options => {:id => @user.id}}} %>
</div>
</div>
<div id="rightColumn" class="right">
<%= render :partial => '/users/right_column', :locals => {:user => @user}%>
</div>
