<div class="promoSection">
  <div class="headingFont">Express everything your heart beats with</div>
  <form action="<%= signup_url%>" method="get" style="display:inline;"><input type="submit" value="Signup" style="margin-top:5px;"/></form>
  <form action="<%= login_url%>" method="get" style="display:inline;"><input type="submit" value="Login" style="margin-top:5px;" /></form>
</div>
<div class="promoSection left">
  <div class="headingFont">Discover what the world is beating to</div>
  <%= render :partial => '/beats/search_box'%>
</div>
<div class="promoSection right">
  <div class="headingFont">Discover people and follow their beats</div>
  <%= render :partial => '/users/search_box'%>
</div>
